<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Yousei's story</title>
</head>
<body>

    <div class="container text-center mt-3">
        <h1>記事</h1>
        <p>学んだことを記事にして発信していきます。</p>
    </div>
</body>
</html>
