<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Yousei's story</title>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
  <div class="text-center">
    <h1>自己紹介ページ</h1>
    <img class="myphoto mb-3" src="myphoto2.png" alt="My Photo">
    <h1>望月陽星</h1>
    <p>静岡県立富士宮北高校卒業</p>
    <p>帝京大学 理工学部 情報科学科 通信教育課程 3年</p>
    <p>静岡産業技術専門学校 みらい情報科 3年</p>
  </div>
</body>
</html>
