<head>
  <meta charset="UTF-8" />
  <link src="/profile/app/views/homes/top.css" rel="stylesheet" href="top.css" />
  <title>Yousei's story</title>
</head>
<body>
  <h1>自己紹介ページ</h1>
  <img class="myphoto" src="myphoto.png">
  <img src="/profile/app/views/homes/スクリーンショット 2024-06-08 000112.png"/>
</body>