<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <title>Yousei's story</title>
</head>
<body>

    <div class="container text-center mt-3">
        <h1><%= raw @greeting %></h1>
        <h1>自己紹介</h1>
        <img class="myphoto mb-3" src="myphoto2.png" alt="My Photo">
        <h1>望月陽星</h1>
        <p>(もちづきようせい)</p>
        <p>生年月日:2003年9月16日(20歳)</p>
        <h4>経歴</h4>
        <p>2022年3月静岡県立富士宮北高校を卒業</p>
        <p>2022年4月帝京大学 理工学部 情報科学科 通信教育課程に入学(現在3年生)</p>
        <p>2022年4月静岡産業技術専門学校 みらい情報科に入学(現在3年生)</p>
        <p>大学と4年制専門学校を併修中</p>
        <p>大学２年生(2023年7月)から株式会社インフラトップの長期インターンシップに参加。Ruby on Railsのメンター業務を行っています。</p>
        <%= link_to "API", greetings_path %>
  </div>
    </div>
</body>
</html>
